body {
	background-color: #282c34;
}

p {
	color: whitesmoke;
	font-style: italic;
	font-size: x-large;
}

textarea {
	width: 20rem;
	height: 10rem;
	background-color: #282c34;
	color: whitesmoke;
	font-size: 1.1rem;
    font-family: monospace;
	
}


.info div {
	color: tomato;
	padding: 1rem 2rem;
	font-size: xx-large;
}
.new-form {
	margin: 1rem 2rem;
	align-items: center;
}
.form-btn{
	margin: .3rem 0;
	padding: .7rem 4rem;
	color: whitesmoke;
	background-color: #282c34;
	border-radius: 5rem;
}

.form-btn:hover {
	background-color: brown;
}

